.elementor-476
    .elementor-element.elementor-element-364da69
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-476
    .elementor-element.elementor-element-364da69:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-476
    .elementor-element.elementor-element-364da69
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: var(--e-global-color-3fd85f6);
}
.elementor-476 .elementor-element.elementor-element-364da69 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 37px 0px 43px 0px;
}
.elementor-476
    .elementor-element.elementor-element-364da69
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-476
    .elementor-element.elementor-element-f0a03d6
    .hfe-copyright-wrapper {
    text-align: left;
}
.elementor-476
    .elementor-element.elementor-element-f0a03d6
    .hfe-copyright-wrapper
    a,
.elementor-476
    .elementor-element.elementor-element-f0a03d6
    .hfe-copyright-wrapper {
    color: var(--e-global-color-f71b821);
}
.elementor-476
    .elementor-element.elementor-element-f0a03d6
    .hfe-copyright-wrapper,
.elementor-476
    .elementor-element.elementor-element-f0a03d6
    .hfe-copyright-wrapper
    a {
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
}
.elementor-476
    .elementor-element.elementor-element-2ae14f0
    .hfe-site-logo-container,
.elementor-476
    .elementor-element.elementor-element-2ae14f0
    .hfe-caption-width
    figcaption {
    text-align: center;
}
.elementor-476
    .elementor-element.elementor-element-2ae14f0
    .hfe-site-logo-container
    .hfe-site-logo-img {
    border-style: none;
}
.elementor-476
    .elementor-element.elementor-element-2ae14f0
    .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}
.elementor-476
    .elementor-element.elementor-element-be39819
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-476 .elementor-element.elementor-element-44c72ec {
    text-align: right;
}
.elementor-476
    .elementor-element.elementor-element-44c72ec
    .elementor-heading-title {
    color: var(--e-global-color-f71b821);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
}
.elementor-476 .elementor-element.elementor-element-d0c4d91 {
    text-align: right;
}
.elementor-476
    .elementor-element.elementor-element-d0c4d91
    .elementor-heading-title {
    color: var(--e-global-color-f71b821);
    font-family: "Roboto", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19.5px;
}
@media (max-width: 767px) {
    .elementor-476 .elementor-element.elementor-element-364da69 {
        padding: 24px 0px 16px 0px;
    }
    .elementor-476
        .elementor-element.elementor-element-f0a03d6
        .hfe-copyright-wrapper {
        text-align: center;
    }
    .elementor-476
        .elementor-element.elementor-element-2ae14f0
        .hfe-site-logo-container,
    .elementor-476
        .elementor-element.elementor-element-2ae14f0
        .hfe-caption-width
        figcaption {
        text-align: center;
    }
    .elementor-476 .elementor-element.elementor-element-2ae14f0 {
        width: 100%;
        max-width: 100%;
    }
    .elementor-476 .elementor-element.elementor-element-a822ab8 {
        width: 50%;
    }
    .elementor-476 .elementor-element.elementor-element-44c72ec {
        text-align: left;
        width: 100%;
        max-width: 100%;
    }
    .elementor-476 .elementor-element.elementor-element-18d5df9 {
        width: 50%;
    }
    .elementor-476 .elementor-element.elementor-element-d0c4d91 {
        width: 100%;
        max-width: 100%;
    }
}
